// color variables

$color-primary: #58e1c1;
$color-secondary: #777;
$color-link:#51ddfc;
$white: #fff;
$light-grey: #ccc;

//button colors
$color-link-light: lighten($color-link, 25%);
$color-error: #e4757a;
$color-error-light: lighten($color-error, 25%);
$color-warning: #fd7856;
$color-warning-light: lighten($color-warning, 25%);
$color-info: #927bc1;
$color-info-light: lighten($color-info, 25%);
$color-success:#63cc82;
$color-success-light: lighten($color-success, 25%);

// media query breakpoint
$break-desktop: 768px;