/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }

  
  .default {
    background-color: $color-link;
    &:hover {
      background-color: $color-link-dark;
    }
  }
  .error {
    background-color: $color-error;
    &:hover {
      background-color: $color-error-dark;
    }
  }
  
  .info {
    background-color: $color-info;
    &:hover {
      background-color: $color-infor-dark;
    }
  }
  
  .success {
    background-color: $color-success;
    &:hover {
      background-color: $color-success-dark;
    }
  }
  
  .warning {
    background-color: #fd7856;
    &:hover {
      background-color: $color-warning-dark;
    }
  }